# Data Science Tools and Ecosystem

## Author
Rafael Santos Coelho

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table in Markdown showing some open source development environments for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. PyTorch
2. TensorFlow
3. Pandas

|Data Science Tools|
----------------------------
|Jupyter Notebook|
|RStudio         |
|Apache Spark    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60 (with no rounding)
print(f"200 minutes corresponds to {200/60} hours")

200 minutes corresponds to 3.3333333333333335 hours